#filters .fancytext, .central-link #filters a, .central-link-light #filters a, #filters .categories li ul#filters li, #filters .sizes .sizebtns #filters button, #product #product-description .product-description-line .sizebtns #filters button, #product #product-description .product-description-line .cart #filters button, footer form #filters button {
    line-height: 45px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
  }
  
#filters .categories {
    border-bottom: 1px solid #e6e6e6;
    display: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    list-style-type: none;
    padding: 0;
  }
  
  #filters .categories.open {
    display: block;
  }
  
  @media (min-width: 750px) {
    #filters .categories {
      display: block;
    }
  }
  
  #filters .categories li {
    font-size: 1.2rem;
  }
  
  #filters .categories li a {
    display: block;
    position: relative;
  }
  
  #filters .categories li a .icn-chevron-up, #filters .categories li a .icn-chevron-down {
    line-height: 1.6968rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #filters .categories li a .icn-chevron-up {
    display: none;
  }
  
  #filters .categories li ul {
    display: none;
    list-style-type: none;
    padding: 0;
  }
  
  #filters .categories li.open a .icn-chevron-up {
    display: block;
  }
  
  #filters .categories li.open a .icn-chevron-down {
    display: none;
  }
  
  #filters .categories li.open ul {
    display: block;
  }
  
  #filters .sizes {
    display: none;
  }
  
  #filters .sizes.open {
    display: block;
  }
  
  @media (min-width: 750px) {
    #filters .sizes {
      display: block;
    }
  }
  
  #filters .sizes .sizebtns {
    display: flex;
    justify-content: space-between;
  }
  
  #filters .sizes .sizebtns button {
    cursor: pointer;
    width: 36px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    background-color: #FFF;
  }
  
  #filters .sizes .sizebtns button:hover {
    background-color: #e6e6e6;
    border-color: #b3b3b3;
  }

  #about .about #filters .categories li ul li, #filters #about .about .categories li ul li, #about .about #filters .sizes .sizebtns button, #filters .sizes .sizebtns #about .about button{
    display: block;
    margin-bottom: 6px;
  }


  /**/

 
/**/
  #filters .categories > li, #product #thumbs a {
    margin-bottom: 15px !important;
  }

  #filters .categories > li > ul > li {
    margin-top: 7.5px !important;
  }
  
  #filters .categories > li > ul > li {
    padding-left: 7.5px !important;
  }

  .animate, #filters .sizes .sizebtns button, #journal .journal-card-image img, #looks .look-card-image img, #looks .look-card .fancytext, #looks .look-card .central-link a, .central-link #looks .look-card a, #looks .look-card .central-link-light a, .central-link-light #looks .look-card a, #looks .look-card #filters .categories > li > ul > li, #filters #looks .look-card .categories > li > ul > li, #looks .look-card #product #product-description .product-description-line .cart button, #product #product-description .product-description-line .cart #looks .look-card button, #looks .look-card footer form button, footer form #looks .look-card button, #press .press-card-image img, #press .press-card p, #talking img, #product #thumbs a img, #product #product-description .product-description-line .sizebtns button{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  /* ================================== */
  /* ======= MARGINS / PADDINGS ======= */
  /* ================================== */
#looks .look-card #filters .categories > li > ul > li, #filters #looks .look-card .categories > li > ul > li, #looks .look-card #filters .sizes .sizebtns button, #filters .sizes .sizebtns #looks .look-card button{
    margin: 0 !important;
  }

 #filters .categories > li > ul > li, #filters .sizes .sizebtns button{
    font-size: 0.8rem;
  }
  
 #filters .categories > li > ul > li, #filters .sizes .sizebtns button{
    text-transform: uppercase;
  }
  
  #filters .categories > li > ul > li, #filters .sizes .sizebtns button{
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  