form {
    margin-bottom: 15px;
  }

form input {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: 1px solid #747474;
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
  }

form input::placeholder {
    color: #747474;
    opacity: 1;
  }

form input:-ms-input-placeholder {
  color: #747474;
}

form input::-ms-input-placeholder {
  color: #747474;
}

form button {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    color: #FFF;
    background-color: #333;
    border: none;
    padding: 0 15px;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
  }


footer form input {
    color: #FFF;
  }
  
footer form button {
    background-color: #F3F3F3;
    color: #333;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;


    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

  }

footer form button:hover {
    background-color: #747474;
    color: #FFF;
  }