/*ICN*/
.icn-star:before {
	content: "";
  }
  
  .icn-facebook:before {
	content: "";
  }
  
  .icn-pinterest:before {
	content: "";
  }
  
  .icn-twitter:before {
	content: "";
  }
  
  .icn-chevron-down:before {
	content: "";
  }
  
  .icn-chevron-up:before {
	content: "";
  }
  
  .icn-minus:before {
	content: "";
  }
  
  .icn-plus:before {
	content: "";
  }
  
  .icn-reload:before {
	content: "";
  }