/* ================================== */
/* ======= MARGINS / PADDINGS ======= */
/* ================================== */
.marginnone{
	margin: 0 !important;
  }
  
.marginhorizontalnone {
	margin-left: 0 !important;
	margin-right: 0 !important;
  }
  
.marginverticalnone {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
  }
  
.margintopnone{
	margin-top: 0 !important;
  }
  
.marginrightnone {
	margin-right: 0 !important;
  }
  
.marginbottomnone {
	margin-bottom: 0 !important;
  }
  
.marginleftnone {
	margin-left: 0 !important;
  }
  
.paddingnone {
	padding: 0 !important;
  }
  
.paddinghorizontalnone {
	padding-left: 0 !important;
	padding-right: 0 !important;
  }
  
.paddingverticalnone {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
  }
  
.paddingtopnone {
	padding-top: 0 !important;
  }
  
.paddingrightnone {
	padding-right: 0 !important;
  }
  
.paddingbottomnone {
	padding-bottom: 0 !important;
  }
  
.paddingleftnone {
	padding-left: 0 !important;
  }
  
.marginfourth {
	margin: 7.5px !important;
  }
  
.marginhorizontalfourth {
	margin-left: 7.5px !important;
	margin-right: 7.5px !important;
  }
  
.marginverticalfourth {
	margin-top: 7.5px !important;
	margin-bottom: 7.5px !important;
  }
  
.margintopfourth{
	margin-top: 7.5px !important;
  }
  
.marginrightfourth {
	margin-right: 7.5px !important;
  }
  
.marginbottomfourth {
	margin-bottom: 7.5px !important;
  }
  
.marginleftfourth {
	margin-left: 7.5px !important;
  }
  
.paddingfourth {
	padding: 7.5px !important;
  }
  
.paddinghorizontalfourth {
	padding-left: 7.5px !important;
	padding-right: 7.5px !important;
  }
  
.paddingverticalfourth {
	padding-top: 7.5px !important;
	padding-bottom: 7.5px !important;
  }
  
.paddingtopfourth {
	padding-top: 7.5px !important;
  }
  
.paddingrightfourth {
	padding-right: 7.5px !important;
  }
  
.paddingbottomfourth {
	padding-bottom: 7.5px !important;
  }
  
.paddingleftfourth{
	padding-left: 7.5px !important;
  }
  
.marginthird {
	margin: 10px !important;
  }
  
.marginhorizontalthird {
	margin-left: 10px !important;
	margin-right: 10px !important;
  }
  
.marginverticalthird {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
  }
  
.margintopthird {
	margin-top: 10px !important;
  }
  
.marginrightthird {
	margin-right: 10px !important;
  }
  
.marginbottomthird {
	margin-bottom: 10px !important;
  }
  
.marginleftthird {
	margin-left: 10px !important;
  }
  
.paddingthird {
	padding: 10px !important;
  }
  
.paddinghorizontalthird {
	padding-left: 10px !important;
	padding-right: 10px !important;
  }
  
.paddingverticalthird {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
  }
  
.paddingtopthird {
	padding-top: 10px !important;
  }
  
.paddingrightthird {
	padding-right: 10px !important;
  }
  
.paddingbottomthird {
	padding-bottom: 10px !important;
  }
  
.paddingleftthird {
	padding-left: 10px !important;
  }
  
.marginhalf {
	margin: 15px !important;
  }
  
.marginhorizontalhalf {
	margin-left: 15px !important;
	margin-right: 15px !important;
  }
  
.marginverticalhalf {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
  }
  
.margintophalf{
	margin-top: 15px !important;
  }
  
.marginrighthalf {
	margin-right: 15px !important;
  }
  
.marginbottomhalf{
	margin-bottom: 15px !important;
  }
  
.marginlefthalf {
	margin-left: 15px !important;
  }
  
.paddinghalf {
	padding: 15px !important;
  }
  
.paddinghorizontalhalf {
	padding-left: 15px !important;
	padding-right: 15px !important;
  }
  
.paddingverticalhalf {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
  }
  
.paddingtophalf {
	padding-top: 15px !important;
  }
  
.paddingrighthalf {
	padding-right: 15px !important;
  }
  
.paddingbottomhalf {
	padding-bottom: 15px !important;
  }
  
.paddinglefthalf {
	padding-left: 15px !important;
  }
  
.margintwothirds {
	margin: 20px !important;
  }
  
.marginhorizontaltwothirds {
	margin-left: 20px !important;
	margin-right: 20px !important;
  }
  
.marginverticaltwothirds {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
  }
  
.margintoptwothirds {
	margin-top: 20px !important;
  }
  
.marginrighttwothirds {
	margin-right: 20px !important;
  }
  
.marginbottomtwothirds {
	margin-bottom: 20px !important;
  }
  
.marginlefttwothirds {
	margin-left: 20px !important;
  }
  
.paddingtwothirds {
	padding: 20px !important;
  }
  
.paddinghorizontaltwothirds {
	padding-left: 20px !important;
	padding-right: 20px !important;
  }
  
.paddingverticaltwothirds {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
  }
  
.paddingtoptwothirds {
	padding-top: 20px !important;
  }
  
.paddingrighttwothirds {
	padding-right: 20px !important;
  }
  
.paddingbottomtwothirds {
	padding-bottom: 20px !important;
  }
  
.paddinglefttwothirds {
	padding-left: 20px !important;
  }
  
.marginfull {
	margin: 30px !important;
  }
  
.marginhorizontalfull {
	margin-left: 30px !important;
	margin-right: 30px !important;
  }
  
.marginverticalfull{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
  }
  
.margintopfull {
	margin-top: 30px !important;
  }
  
.marginrightfull {
	margin-right: 30px !important;
  }
  
.marginbottomfull{
	margin-bottom: 30px !important;
  }
  
.marginleftfull {
	margin-left: 30px !important;
  }
  
.paddingfull {
	padding: 30px !important;
  }
  
.paddinghorizontalfull {
	padding-left: 30px !important;
	padding-right: 30px !important;
  }
  
.paddingverticalfull {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
  }
  
.paddingtopfull {
	padding-top: 30px !important;
  }
  
.paddingrightfull {
	padding-right: 30px !important;
  }
  
.paddingbottomfull {
	padding-bottom: 30px !important;
  }
  
.paddingleftfull {
	padding-left: 30px !important;
  }
  
.marginoneandhalf {
	margin: 45px !important;
  }
  
.marginhorizontaloneandhalf {
	margin-left: 45px !important;
	margin-right: 45px !important;
  }
  
.marginverticaloneandhalf {
	margin-top: 45px !important;
	margin-bottom: 45px !important;
  }
  
.margintoponeandhalf {
	margin-top: 45px !important;
  }
  
.marginrightoneandhalf {
	margin-right: 45px !important;
  }
  
.marginbottomoneandhalf {
	margin-bottom: 45px !important;
  }
  
.marginleftoneandhalf {
	margin-left: 45px !important;
  }
  
.paddingoneandhalf {
	padding: 45px !important;
  }
  
.paddinghorizontaloneandhalf {
	padding-left: 45px !important;
	padding-right: 45px !important;
  }
  
.paddingverticaloneandhalf {
	padding-top: 45px !important;
	padding-bottom: 45px !important;
  }
  
.paddingtoponeandhalf{
	padding-top: 45px !important;
  }
  
.paddingrightoneandhalf {
	padding-right: 45px !important;
  }
  
.paddingbottomoneandhalf {
	padding-bottom: 45px !important;
  }
  
.paddingleftoneandhalf {
	padding-left: 45px !important;
  }
  
.margindouble {
	margin: 60px !important;
  }
  
.marginhorizontaldouble {
	margin-left: 60px !important;
	margin-right: 60px !important;
  }
  
.marginverticaldouble{
	margin-top: 60px !important;
	margin-bottom: 60px !important;
  }
  
.margintopdouble {
	margin-top: 60px !important;
  }
  
.marginrightdouble {
	margin-right: 60px !important;
  }
  
.marginbottomdouble {
	margin-bottom: 60px !important;
  }
  
.marginleftdouble {
	margin-left: 60px !important;
  }
  
.paddingdouble {
	padding: 60px !important;
  }
  
.paddinghorizontaldouble {
	padding-left: 60px !important;
	padding-right: 60px !important;
  }
  
.paddingverticaldouble {
	padding-top: 60px !important;
	padding-bottom: 60px !important;
  }
  
.paddingtopdouble {
	padding-top: 60px !important;
  }
  
.paddingrightdouble {
	padding-right: 60px !important;
  }
  
.paddingbottomdouble{
	padding-bottom: 60px !important;
  }
  
.paddingleftdouble {
	padding-left: 60px !important;
  }