footer .newsletter {
    margin-top: 15px;
  }
  
@media (min-width: 1200px) {
    footer .newsletter {
      margin-top: 0;
    }
  }

footer .social a {
    display: inline-block;
    color: #b3b3b3;
    font-size: 1.5rem;
    margin-right: 6px;
  }
  
footer .social a:hover {
    color: #FFF;
  }