/* ============================== */
/* ======= TEXT ALIGNMENT ======= */
/* ============================== */


/*.central-link-light, #looks .look-card .fancytext, #looks .look-card .central-link a, .central-link #looks .look-card a, #looks .look-card .central-link-light a, .central-link-light #looks .look-card a, #looks .look-card #filters .categories > li > ul > li, #filters #looks .look-card .categories > li > ul > li, #looks .look-card #filters .sizes .sizebtns button, #filters .sizes .sizebtns #looks .look-card button, #looks .look-card #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .sizebtns #looks .look-card button, #looks .look-card #product #product-description .product-description-line .cart button, #product #product-description .product-description-line .cart #looks .look-card button, #looks .look-card footer form button, footer form #looks .look-card button {
  text-align: center;
}*/

/* ===================== */
/* ======= OTHER ======= */
/* ===================== */
/*
.central-link a, .central-link-light a, #filters .categories > li > ul > li, #filters .sizes .sizebtns button, #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .cart button{
  font-size: 0.8rem;
}

.central-link a, .central-link-light a, #filters .categories > li > ul > li, #filters .sizes .sizebtns button, #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .cart button {
  text-transform: uppercase;
}

.central-link a, .central-link-light a, #filters .categories > li > ul > li, #filters .sizes .sizebtns button, #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .cart button {
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
*/
.central-link {
  width: 100%;
}

.central-link a {
  display: inline-block;
  padding: 10px 15px;
}

.central-link a:hover {
  background-color: #000;
}

/*central link done*/



.animate, #filters .sizes .sizebtns button, #journal .journal-card-image img, #looks .look-card-image img, #looks .look-card .fancytext, #looks .look-card .central-link a, .central-link #looks .look-card a, #looks .look-card .central-link-light a, .central-link-light #looks .look-card a, #looks .look-card #filters .categories > li > ul > li, #filters #looks .look-card .categories > li > ul > li, #looks .look-card #product #product-description .product-description-line .cart button, #product #product-description .product-description-line .cart #looks .look-card button, #looks .look-card footer form button, footer form #looks .look-card button, #press .press-card-image img, #press .press-card p, #talking img, #product #thumbs a img, #product #product-description .product-description-line .sizebtns button{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* ================================== */
/* ======= MARGINS / PADDINGS ======= */
/* ================================== */
 #looks .look-card .fancytext, #looks .look-card .central-link a, .central-link #looks .look-card a, #looks .look-card .central-link-light a, .central-link-light #looks .look-card a, #looks .look-card #filters .categories > li > ul > li, #filters #looks .look-card .categories > li > ul > li, #looks .look-card #filters .sizes .sizebtns button, #filters .sizes .sizebtns #looks .look-card button, #looks .look-card #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .sizebtns #looks .look-card button, #looks .look-card #product #product-description .product-description-line .cart button, #product #product-description .product-description-line .cart #looks .look-card button, #looks .look-card footer form button, footer form #looks .look-card button, #press .press-card p {
  margin: 0 !important;
}



#filters .categories > li > ul > li {
  margin-top: 7.5px !important;
}

#filters .categories > li > ul > li {
  padding-left: 7.5px !important;
}

.central-link, .central-link-light {
  margin-top: 15px !important;
}



#filters .categories > li, #product #thumbs a {
  margin-bottom: 15px !important;
}



#looks .look-card, #press .press-card{
  margin-bottom: 30px !important;
}



.separador {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}









#mainproductlist {
  padding: 0;
}



#about .about .central-link a, .central-link #about .about a, #about .about .central-link-light a, .central-link-light #about .about a, #about .about #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .sizebtns #about .about button, #about .about #product #product-description .product-description-line .cart button, #product #product-description .product-description-line .cart #about .about button, #about .about form button, footer form #about .about button {
  display: block;
  margin-bottom: 6px;
}



#journal .journal-card-small .central-link a, .central-link #journal .journal-card-small a, #journal .journal-card-small .central-link-light a, .central-link-light #journal .journal-card-small a, #journal .journal-card-small #filters .categories > li > ul > li, #filters #journal .journal-card-small .categories > li > ul > li, #journal .journal-card-small #filters .sizes .sizebtns button, #filters .sizes .sizebtns #journal .journal-card-small button, #journal .journal-card-small #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .sizebtns #journal .journal-card-small button, #journal .journal-card-small #product #product-description .product-description-line .cart button, #product #product-description .product-description-line .cart #journal .journal-card-small button, #journal .journal-card-small footer form button, footer form #journal .journal-card-small button {
  margin: 0;
}

#looks .look-card {
  display: block;
  position: relative;
}

#looks .look-card-image {
  background-color: #747474;
}

#looks .look-card-image img {
  opacity: 0.6;
}

#looks .look-card .fancytext, #looks .look-card .central-link a, .central-link #looks .look-card a, #looks .look-card .central-link-light a, .central-link-light #looks .look-card a, #looks .look-card #filters .categories > li > ul > li, #filters #looks .look-card .categories > li > ul > li, #looks .look-card #filters .sizes .sizebtns button, #filters .sizes .sizebtns #looks .look-card button, #looks .look-card #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .sizebtns #looks .look-card button, #looks .look-card #product #product-description .product-description-line .cart button, #product #product-description .product-description-line .cart #looks .look-card button, #looks .look-card footer form button, footer form #looks .look-card button {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 0;
}

#looks .look-card:hover .fancytext, #looks .look-card:hover .central-link a, .central-link #looks .look-card:hover a, #looks .look-card:hover .central-link-light a, .central-link-light #looks .look-card:hover a, #looks .look-card:hover #filters .categories > li > ul > li, #filters #looks .look-card:hover .categories > li > ul > li, #looks .look-card:hover #filters .sizes .sizebtns button, #filters .sizes .sizebtns #looks .look-card:hover button, #looks .look-card:hover #product #product-description .product-description-line .sizebtns button, #product #product-description .product-description-line .sizebtns #looks .look-card:hover button, #looks .look-card:hover #product #product-description .product-description-line .cart button, #product #product-description .product-description-line .cart #looks .look-card:hover button, #looks .look-card:hover footer form button, footer form #looks .look-card:hover button {
  background-color: #FFF;
}

#looks .look-card:hover .look-card-image img {
  opacity: 1;
}

#press .press-card {
  display: block;
}

#press .press-card-image {
  background-color: #747474;
}

#press .press-card-image img {
  opacity: 0.6;
}

#press .press-card p {
  background-color: #FFF;
  padding: 20px;
  box-sizing: border-box;
  font-size: 0.9rem;
}

#press .press-card:hover .press-card-image img {
  opacity: 1;
}

#talking img {
  opacity: 0.6;
}

#talking img:hover {
  opacity: 1;
}

#product #thumbs a {
  display: inline-block;
  background: linear-gradient(#747474, #333);
}

#product #thumbs a img {
  opacity: 0.6;
}

#product #thumbs a.open {
  border: 2px solid #f5d71f;
}

#product #thumbs a.open img {
  opacity: 1;
}

#product #thumbs a:hover img {
  opacity: 1;
}


#product #product-description h1 {
  font-size: 1.7rem;
}


#product #product-description .product-description-line .sizebtns {
  display: flex;
  justify-content: space-between;
}

#product #product-description .product-description-line .sizebtns button {
  cursor: pointer;
  width: 36px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  background-color: #FFF;
}

#product #product-description .product-description-line .sizebtns button:hover {
  background-color: #e6e6e6;
  border-color: #b3b3b3;
}

#product #product-description .product-description-line .qty {
  display: flex;
}

#product #product-description .product-description-line .qty button, #product #product-description .product-description-line .qty input {
  width: 33.3333%;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-style: solid;
  border-color: #b3b3b3;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  padding: 0;
  box-sizing: border-box;
}

#product #product-description .product-description-line .qty button.btnleft, #product #product-description .product-description-line .qty input.btnleft {
  border-left-width: 1px;
}

#product #product-description .product-description-line .qty button.btnright, #product #product-description .product-description-line .qty input.btnright {
  border-right-width: 1px;
}

#product #product-description .product-description-line .qty button {
  cursor: pointer;
  background-color: #e6e6e6;
}

#product #product-description .product-description-line .cart button {
  cursor: pointer;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  width: 100%;
  border: none;
}

#product #product-description .product-description-line .cart button:hover {
  background-color: #000;
}



.separador {
  height: 40vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../imgs/slider/slider01-small.jpg);
}

@media (min-width: 750px) {
  .separador {
    background-image: url(../imgs/slider/slider01-medium.jpg);
  }
}

@media (min-width: 1200px) {
  .separador {
    background-image: url(../imgs/slider/slider01.jpg);
  }
}

#reviews .score i {
  display: inline-block;
  margin: 0 1px;
}

#reviews .score span {
  display: inline-block;
  margin-left: 10px;
}




